<p-card header="Trouble logging in?" class="login-card middle-of-page">
  <div class="p-fluid">
    <div class="p-field">
      <p class="info-text">Enter your email and we'll send you a link to get back into your account.</p>
    </div>
    <div class="p-field">
      <div class="flex flex-column">
        <label htmlFor="emaile">Email</label>
        <input pInputText
               [(ngModel)]="email"/>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="d-grid text-center">
      <p-button label="Send Login Link" class="d-grid" (onClick)="sendEmail()" routerLink="/login"></p-button>
      <a class="clickable-text mt-2" routerLink="/accounts/register">Create New Account</a>
      <hr>
      <p-button label="Back to Login" styleClass="p-button-secondary p-button-sm" routerLink="/login"></p-button>
    </div>
  </ng-template>
</p-card>
